<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title - Admin - Zarzadzanie Serwisem versja 0.0</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    @Styles.Render("~/Content/css")

</head>
<body>

    <div id="menuContainer">
        <div class="centerContainer">
            <ul id="nav">
                <li>@Html.ActionLink("Home", "Index", "Zarzadzanie")</li>
                <li>@Html.ActionLink("Serwisant", "Serwisant", "Zarzadzanie")</li>
                <li>@Html.ActionLink("Magazyn", "Magazyn", "Zarzadzanie")</li>
                <li>@Html.ActionLink("ObslugaKlienta", "ObslugaKlienta", "Zarzadzanie")</li>
                <li>@Html.ActionLink("Admin", "Kontakt", "Start")</li>

                <li><a href="contact.html">Contact Us<span>let's keep in touch</span></a></li>
            </ul>
        </div>
    </div>
    @RenderBody()
    <div id="footerContainer">
       
    </div>

    <div id="footerCopyrightContainer">
        <div class="centerContainer">
            <p class="fl">&copy; Copyright 2016 FixNet.pl. All rights reserved. </p>
           
        </div>
    </div>
    <script type="text/javascript">Cufon.now();</script>
</body>
</html>