<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title - Zarzadzanie Serwisem versja 0.0</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    @Styles.Render("~/Content/css")

</head>
<body>

    <div id="menuContainer">
        <div class="centerContainer">
            <ul id="nav">
                <li>@Html.ActionLink("Start", "Index", "Start")</li>
                <li>@Html.ActionLink("Oferta", "Oferta", "Start")</li>
                <li>@Html.ActionLink("Status Naprawy", "StatusNaprawy", "Start")</li>
                <li>@Html.ActionLink("Zarządzanie serwisem", "ZarzadzanieSerwisem", "Start")</li>
                <li>@Html.ActionLink("Kontakt", "Kontakt", "Start")</li>

                <li><a href="contact.html">Contact Us<span>let's keep in touch</span></a></li>
            </ul>
        </div>
    </div>
    @RenderBody()
    <div id="footerContainer">
        <div class="centerContainer">
            <div class="oneThirdCol">
                <h3>recent tweets</h3>
                <ul id="tweetList">
                    <li>
                        <p>I'm looking for some cool web design #contract templates for #freelancers, any suggestions? <span>3 days ago</span></p>
                    </li>
                    <li>
                        <p><a href="#">mediatemple</a> will definitely do that, thanks :) <span>6 days ago</span></p>
                    </li>
                    <li>
                        <p>Now coding the Corpora Business Theme, having fun :D <span>13 days ago</span></p>
                    </li>
                </ul>
            </div>
            <div class="oneThirdCol">
                <h3>subscribe to our newsletter</h3>
                <p>Enter your email address below to subscribe. You will receive our newsletter once a week.</p>
                <form action="#" method="post" id="subscribeForm">
                    <fieldset>
                        <div>
                            <input type="text" id="newsletterEmailAddress" class="fl" />
                            <a href="#" id="newsletterSignup" class="redButton"><img src="~/img/redButtonImg.png" alt="" /></a>
                        </div>
                    </fieldset>
                </form>
                <p> <a href="#">Terms of Use</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Privacy Policy</a> </p>
            </div>
            <div class="oneThirdCol lastCol">
                <h3>let's keep in touch</h3>
                <p>You can contact us by using the contact information below or by sending us a message via our <a href="#">contact form</a>.</p>
                <ul id="contactInfoList">
                    <li>85 Washington Ave., Suite 45, CA, USA</li>
                    <li>Phone: 1.800.CORP (1.800.2577)</li>
                    <li>Email: <a href="#">office@corpora.com</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="footerCopyrightContainer">
        <div class="centerContainer">
            <p class="fl">&copy; Copyright 2011 Corpora. All rights reserved. | Download more: <a href="http://www.csstemplatesfree.org">CSS Website Templates</a></p>
            <ul class="fr">
                <li><a href="#"><img src="~/img/social/twitter.png" alt="" /></a></li>
                <li><a href="#"><img src="~/img/social/facebook.png" alt="" /></a></li>
                <li><a href="#"><img src="~/img/social/rss.png" alt="" /></a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">Cufon.now();</script>
</body>
</html>