@model ZarzadzanieSerwisem.Models.Serwisowane

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Serwisowane</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Magazynier.MagazynierImie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magazynier.MagazynierImie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerwisowaneTytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerwisowaneTytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerwisowaneTresc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerwisowaneTresc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerwisowaneNazwaKlienta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerwisowaneNazwaKlienta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPrzyjecia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPrzyjecia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerwisowaneWycena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerwisowaneWycena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SerwisowaneId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
