@model IEnumerable<ZarzadzanieSerwisem.Models.PrzyjeteUrzadzenie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Magazynier.MagazynierImieNaz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerwisowaneTytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerwisowaneTresc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerwisowaneNazwaKlienta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPrzyjecia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerwisowaneWycena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td width="150">
            @Html.DisplayFor(modelItem => item.Magazynier.MagazynierImieNaz)
        </td>
        <td width="200">
            @Html.DisplayFor(modelItem => item.SerwisowaneTytul)
        </td>
        <td width="400">
            @Html.DisplayFor(modelItem => item.SerwisowaneTresc)
        </td>
        <td width="150">
            @Html.DisplayFor(modelItem => item.SerwisowaneNazwaKlienta)
        </td>
        <td width="100">
            @Html.DisplayFor(modelItem => item.DataPrzyjecia)
        </td>
        <td width="100">
            @Html.DisplayFor(modelItem => item.SerwisowaneWycena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SerwisowaneId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SerwisowaneId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SerwisowaneId })
        </td>
    </tr>
}

</table>
